<html>
  <div class="container-fluid bg-primary">
    <a class="navbar-brand" href="#"></a>
    <div class="float-center">
      <h1>Motor Servicing Portal</h1>
      <link rel="icon" href="icon_type" type="assets/BackgroundImages/logo.jpg">
    </div>
  </div>
  &nbsp; &nbsp;&nbsp; &nbsp;
    <button class="btn btn-success" routerLink='adduser'>Signup</button>&nbsp;
     <button class="btn btn-success" routerLink='applogin'>Login</button>&nbsp;
     
<router-outlet></router-outlet>


<body style="background-image: url('assets/BackgroundImages/logo.jpg');background-repeat:no-repeat;background-size: 100%;background-position: center;background-size: cover;"  >
</body>

<br>
<br>
<footer><p>Policies: Returns Policy | Terms of use | Security | Privacy | Infringement   © 2007-2020  motorservicing.com</p></footer>

</html>