<div align="right"> <input type="submit"  routerLink='/applogin' value="LogOut" class="btn btn-success">
</div>
<body style="background-image: url('assets/BackgroundImages/image3.jpg');background-repeat:no-repeat;background-size: 100%;background-position: center;background-size: cover;"  >
  
<div align="center">
  <h1>LOGIN PAGE</h1>
  <br>
<button class="btn btn-success" routerLink='/userhome'> User Login</button>&nbsp;
<button class="btn btn-success" routerLink='/adminhome'>Admin Login</button>&nbsp;

</div>
</body>
<router-outlet></router-outlet>

